
body{
    /*background-image:url(Auditorium.jpg);*/
    /*background-color: burlywood;*/
    margin:0px;
    /*border-color:cornsilk;*/
    border-width:0px;
    /*border-style:solid;*/
    /*font-family:Arial;*/
}

img.navlogo{
    height:40px;
    width:40px;
}

nav.navbar{
    background-color:gainsboro;
}

div.homejumbo{
   
    background-attachment: fixed;
    background-image: url(eagle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

/*
h1{
    padding-left:100px;
}
*/

h2{
    padding-left:20px;
}

img.homegrid{
    width:400px;
    height:280px;
    /* 400 / 280 */
    
}

img.map{
    max-width: 100%;
}


img.carouselpic{
    max-height: 720px;
}